body {
    background-color: #222;
    color: #f5f5f5;
    padding: 30px;
    .create-post,
    .create-user {
        label {
            font-weight: bold;
        }
        .form-control {
            background-color: grey;
            color: #f5f5f5;
        }
    }


}
